body {
    background-image: url("../img/background.png"),
        linear-gradient(35deg, #185529 50%, #69a131);
    background-repeat: repeat, no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: 40%, 100%;
    font-family: "Lato", sans-serif;
    margin-top: 85px;
}

.navbar {
    background-color: #185529;
}

.navbar-brand img {
    width: 80px;
}

.btn-action {
    background-color: #ffc800;
    color: #185529;
}

.cta .btn-fb {
    background-color: #3b5998;
}

.cta .btn-ig {
    background-image: linear-gradient(
        225deg,
        #405de6,
        #5851db,
        #833ab4,
        #c13584,
        #e1306c,
        #fd1d1d
    );
}

.cta .btn-wa {
    background-color: #25d366;
}

.cta .btn-yt {
    background-color: #ff0000;
}

hr {
    height: 2px;
    border: 1.5px solid #28a745;
    border-radius: 20%;
}

.cover-home .row {
    height: 100%;
}

.jumbotron-maintenance .row {
    height: 100%;
}

.card {
    border-radius: 20px;
}

.form-control {
    border-radius: 10px;
}

.form-select {
    border-radius: 10px;
}

h1,
h2,
h3,
h4 {
    font-family: "Lora", serif;
}

.btn {
    border-radius: 10px;
}

.map iframe {
    height: 500px;
    border-radius: 10px;
}

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}

/* `xs` returns only a ruleset and no media query */
/* ... { ... } */
/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .cover-home {
        height: 100%;
    }

    .cta .btn,
    .btn {
        border-radius: 8px;
        font-size: 10px;
    }

    .map iframe {
        height: 350px;
    }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .navbar-brand {
        width: 140px;
    }

    .nav-item .btn {
        display: none;
    }

    .cover-home {
        height: 100%;
    }

    .cta .btn,
    .btn {
        border-radius: 8px;
        font-size: 10px;
    }
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .jumbotron-maintenance {
        text-align: center;
    }
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    /* .cover-home {
        height: 1263px;
    } */

    .cta .btn {
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: 1rem;
    }

    .map iframe {
        height: 100%;
    }
}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    .map iframe {
        height: 460px;
        border-radius: 10px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .cover-home {
        height: 100%;
    }

    .navbar-brand {
        width: 200px;
    }

    .jumbotron-maintenance {
        height: 600px;
    }

    .cta .btn,
    .btn {
        border-radius: 8px;
        font-size: 10px;
    }
}

@media only screen and (min-device-width: 1112px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .navbar-brand {
        width: 250px;
    }

    .jumbotron-maintenance {
        height: 850px;
    }
}
